<li>
	{{Ingredients}}

<<<<<<< HEAD
=======
	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Eat it!{{else}}Order it again!{{/if}}
	</button> --}} 

>>>>>>> master
	<button class="delete-ingredient" data-id="{{this.id}}">DELETE!</button>
</li>